# Arthmetic Operation

In [97]:
import pandas as pd
df=pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
df

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [99]:
df["C"]=df["A"]+df["B"]
df["D"]=df["A"]-df["B"]
df

   A  B   C  D
0  1  5   6 -4
1  2  6   8 -4
2  3  7  10 -4
3  4  8  12 -4

In [107]:
df=pd.DataFrame({"A":[10,20,30,40],"B":[50,61,72,83]})
df

    A   B
0  10  50
1  20  61
2  30  72
3  40  83

In [109]:
df["python"]=df["A"]<=20
df

    A   B  python
0  10  50    True
1  20  61    True
2  30  72   False
3  40  83   False