# Data Structure in pandas
## series

In [3]:
import pandas as pd
x=[1,2,3,4,5]
s=pd.Series(x,index=['a','b','c','d','e'],dtype=float,name='python ')
print(s)
print(type(s))
print(s['b'])

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: python , dtype: float64
<class 'pandas.core.series.Series'>
2.0

In [5]:
dic={
    'name':['java','c','python'],
    'por':[12,13,14],
    'rank':[2,4,1]
}
s=pd.Series(dic)
print(s)

name    [java, c, python]
por          [12, 13, 14]
rank            [2, 4, 1]
dtype: object

In [7]:
s1=pd.Series(12,index=[1,2,3,4,5,6,7])
s2=pd.Series(12,index=[1,2,3,4])

print(s1+s2)

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
dtype: float64

In [31]:
states=["Karachi ","Lahore","islamabad"]
sdata={"Lahore":233,"Islamabad":433}
s1=pd.Series(sdata,index=states)
s1.isnull()

Karachi       True
Lahore       False
islamabad     True
dtype: bool

In [33]:
s1.notnull()

Karachi      False
Lahore        True
islamabad    False
dtype: bool

## Data Frame

In [46]:
df=pd.DataFrame([1,2,3,4])
print(df)

   0
0  1
1  2
2  3
3  4

In [66]:
d={'a':[1,23,4,5],'b':[2,6,7,5],1:[1,2,3,4]}
df=pd.DataFrame(d,columns=['a',1])
print(df)
print(df['a'][1])

    a  1
0   1  1
1  23  2
2   4  3
3   5  4
23

In [68]:
l=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
df=pd.DataFrame(l)
print(df)

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [70]:
sr={'s':pd.Series([1,2,3,4,5]),'r':pd.Series([6,7,8,9])}
df=pd.DataFrame(sr)
df

   s    r
0  1  6.0
1  2  7.0
2  3  8.0
3  4  9.0
4  5  NaN